

.body{
    background-image: url("https://images.pexels.com/photos/1605001/pexels-photo-1605001.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size:cover;
    /* height:100vh; */
  
  
}
.content{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 200px;
    font-size: 60px;
}
#Book{
    text-align: center;
    border-radius: 150px;
    margin-left: 200px;
    
    
}
