



#conbtn:hover{
    background: white;
    color: black;
    font-weight: bold;

}
.phone{
    color: black;
    text-align: center;
}
@media screen and (max-width:600px){
    .phone{
        color: black;
        text-align: center;
        margin-right: 20px;
        font-size: 15px;
    }
     }