#loginimg {
    height: 9vh;
    margin-top: 40px;

}
@media only screen and (max-width: 600px) {
    #loginimg {
        height: 100%;
        margin-top: 30px;
    
    }
}

.label {
    margin-left: 60px;
    width: 23vw;
    border-radius: 4px;
    height: 35px;
}
@media only screen and (max-width: 600px) {
    .label {
        /* margin-left: 100px; */
        width: 70vw;
        border-radius: 4px;
        height: 35px;
    }
}

#loginbtn {

    margin-left: 70px;
    width: 10vw;
    border-radius: 14px;
    height: 8vh;
}
@media only screen and (max-width: 600px) {
    #loginbtn {

        margin-left: 40px;
        width: 60vw;
        border-radius: 14px;
        height: 8vh;
    }
}


#resetbtn {
    margin-left: 40px;
    width: 10vw;
    border-radius: 14px;
    height: 8vh;
}
@media only screen and (max-width: 600px) {
    #resetbtn {
        /* margin-left: 40px; */
        width: 60vw;
        border-radius: 14px;
        height: 8vh;
    }
}

#loginhead {
    text-align: center;
    margin-top: 20px;
}