/* .inbox{
   margin-left: 80px;
   
    
} */
.Now {
    width: 35vw;
}

.form {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 70px;

}

.reg {
    text-align: center;
    color: black;
    margin-top: 40px;
    margin-left: 100px;

}

.reset {
    text-align: center;
    color: white;
    margin-left: 150px;
    margin-top: 40px;
}

#bookform {
    margin-top: 100px;
}